streamlit==1.26.0
tensorflow==2.13.0
spacy==3.7.2
pandas
altair
joblib
scikit-learn
matplotlib
seaborn
pandas
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.2/en_core_web_sm-3.7.2-py3-none-any.whl
